<%= page_title 'Dashboard', no_h1=true %>

<% if can? :see, :moderator_dashboard %>
    <% cache 'moderator_dashboard', expires_in: 15.minutes do %>
        <%= render 'moderator_dashboard' %>
    <% end %>
<% end %>

<% if can?(:create, Selection) %>
    <h2>Final voting is open!</h2>

    <p><%= link_to "Define #{Settings.event_name} lineup!", '#nominations', :class => 'btn btn-primary' %></p>
<% end %>

<h2>Your proposals</h2>

<% if can? :create, Proposal %>
    <div class="alert">
      You have still <%= countdown_to Phase.last_submission_date %> to submit or edit a proposal!
      Since proposals are anonymised, other users will not see that you are the author of these. <%= link_to "Read more about the process", about_path %>.
    </div>
<% end %>

<% if @your_proposals.present? %>
    <ul id="your-proposals" class="proposals">
      <%= render partial: 'proposals/proposal_listing',
                 collection: @your_proposals,
                 locals: {:show_new_suggestions => true, :badge_with_nominations => true} %>
    </ul>
<% end %>

<% if can? :create, Proposal %>
    <p><%= link_to "Propose #{'another' if @your_proposals.present?} talk", new_proposal_path, class: "btn btn-primary" %></p>
<% end %>

<% if @proposals_you_should_look_at.present? %>
    <h2>You should consider reviewing these proposals</h2>
    <ul id="you-should-look-at-these" class="proposals">
      <%= render :partial => 'proposals/proposal_listing', collection: @proposals_you_should_look_at  %>
    </ul>
<% end %>

<% if @unvoted_proposals.present? %>
    <h2>You have not voted yet for these proposals</h2>
    <div class="alert">
        You have still <%= countdown_to Phase.last_voting_date %> to cast your votes for proposals!
        <%= link_to "Read more about the process", about_path %>
    </div>

    <ul id="you-should-vote-for-these" class="proposals">
      <%= render :partial => 'proposals/proposal_listing', collection: @unvoted_proposals  %>
    </ul>
<% end %>

<% if @proposals_that_have_changed.present? %>
    <h2>These proposals have been updated since you last made a suggestion</h2>
    <ul id="things-have-changed" class="proposals">
      <%= render :partial => 'proposals/proposal_listing', collection: @proposals_that_have_changed  %>
    </ul>
<% end %>

<% if @proposals_that_have_been_withdrawn.present? %>
    <h2>These proposals you made suggestions on have been withdrawn</h2>
    <ul id="things-have-ended" class="proposals">
      <%= render :partial => 'proposals/proposal_listing', collection: @proposals_that_have_been_withdrawn  %>
    </ul>
<% end %>
