<%= simple_form_for @user do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <%= notification %>
    </div>
  <% end %>

  <%= f.input :signup_reason, input_html: {rows: 3}, as: :markdown %>

  <% if @user.email.present? %>
  <%= f.input :subscribe_to_suggestions_notifications, label: false, inline_label: 'Email me for new suggestions on my proposals' %>
  <% end %>

  <%= f.input :publish_selections, label: false, inline_label: 'Make my selections public' %>

  <%= f.button :submit, "Save", class: "btn btn-primary" %>
<% end %>
