<%
   proposal = proposal_listing
   show_new_suggestions = false unless defined?(show_new_suggestions)
   badge_with_nominations = false unless defined?(badge_with_nominations)
   hide_stats_and_information = false unless defined?(hide_stats_and_information)
%>

<%= content_tag_for :li, proposal do %>
    <% if can?(:see_proposer, Proposal) %>
        <%= link_to proposal, :class => 'title' do %>
            <em><strong><%= proposal.proposer.name %>:</strong></em>
            <%= proposal.title %>
        <% end %>
    <% else %>
        <%= link_to proposal.title, proposal, :class => 'title' %>
    <% end %>

    <% if can?(:see_stats, Proposal) && badge_with_nominations %>
        <% if proposal.nominated? %>
            <span class="badge badge-success">Nominated!</span>
        <% else %>
            <span class="badge">Not nominated :(</span>
        <% end %>
    <% end %>

    <br>

    <% unless hide_stats_and_information %>
    <span class="age">
        <% if can?(:see_stats, proposal) %>
            <% if proposal.nominated? && current_phase.selection_completed? %>
                Ranked <em><strong><%= proposal.phase_two_ranking %></strong></em> in Phase 2 with
                a weighted final score of <%= proposal.user_weighted_selections_score.round %>
            <% else %>
                Ranked <em><strong><%= proposal.phase_one_ranking %></strong></em> in Phase 1 with
                <%= proposal.counted_impressions %> unique views,
                <%= proposal.counted_votes_for %> counted upvotes and
                <%= proposal.counted_votes_against %> counted downvotes
            <% end %>
        <% else %>
            <%= proposal_update_information proposal %>
        <% end %>
    </span>
    <% end %>

    <% if show_new_suggestions && proposal.new_suggestions.any? %>
        <%= pluralize proposal.new_suggestions.count, "new suggestion" %>
    <% end %>
<% end %>