<%
   proposal = proposal_listing
   show_new_suggestions = false unless defined?(show_new_suggestions)
%>

<%= content_tag_for :li, proposal do %>
    <% if can?(:see_proposer, Proposal) %>
        <%= link_to proposal, :class => 'title' do %>
            <em><strong><%= proposal.proposer.name %>:</strong></em>
            <%= proposal.title %>
        <% end %>
    <% else %>
        <%= link_to proposal.title, proposal, :class => 'title' %>
    <% end %>

    <br>

    <span class="age">
        <% if can?(:see_stats, proposal) %>
            Ranked <em><strong><%= proposal.phase_one_ranking %></strong></em> with
            <%= proposal.counted_impressions %> unique views,
            <%= proposal.counted_votes_for %> counted upvotes and
            <%= proposal.counted_votes_against %> counted downvotes
        <% else %>
            <%= proposal_update_information proposal %>
        <% end %>
    </span>

    <% if show_new_suggestions && proposal.new_suggestions.any? %>
        <%= pluralize proposal.new_suggestions.count, "new suggestion" %>
    <% end %>
<% end %>