<div class="hero-unit">
    <%= page_title "#{Settings.event_name} Call for Presentations" %>

    <% if current_phase.main_text %>
    <p><%= current_phase.main_text.html_safe %></p>
    <% end %>

    <% if current_phase.countdown_text %>
    <p>You have <%= countdown_to_phase_end %> <%= current_phase.countdown_text %></p>
    <% end %>

    <p>
    <% if user_signed_in? %>
        <% if can? :create, Proposal  %>
            <%= link_to "Propose a talk", new_proposal_path, :class => 'btn btn-primary' %>
        <% elsif can?(:create, Selection) %>
            <%= link_to "Define #{Settings.event_name} lineup!", '#nominations', :class => 'btn btn-primary' %>
        <% elsif @suggested_proposal && can?(:vote, @suggested_proposal) %>
            <%= link_to "Cast your votes!", proposal_path(@suggested_proposal), :class => 'btn btn-primary' %>
        <% end %>
    <% else %>
        <div class="btn-group">
            <%= link_to 'Join the party', '#', :class => 'btn btn-primary dropdown-toggle', :data => {:toggle => 'dropdown'} %>
            <ul class="dropdown-menu">
                <li><span style="padding-left: 10px;">Sign in with...</span></li>
                <li class="divider"></li>
                <%= authentication_links :li %>
            </ul>
        </div>
    <% end %>

    or <%= link_to 'read more about our process', about_path %>.
    </p>
</div>

<% if can?(:see_nominations, Proposal) %>
    <% main_section_class = @nominated_proposals.present? && can?(:create, Selection) ? 'span8' : 'span12' %>

    <% if @nominated_proposals.present? %>
        <section class="row">
            <section id="nominations" class="<%= main_section_class %>">
                <h2>
                    <%= @nominated_proposals.size %> Nominated &amp; active proposals
                </h2>

                <ul class="proposals nominated">
                    <%= render :partial => 'proposal_listing', collection: @nominated_proposals %>
                </ul>
            </section>


            <% if can?(:create, Selection) %>
                <section id="selections" class="span4">
                    <div data-spy="affix" data-offset-top="500" style="top: 0">
                        <h2>
                            Your selections (drag here!)
                            <a data-toggle="tooltip"  data-placement="bottom" title="Just drag your selections from the left and drop them here in order of preference. Easy-peasy!">
                                <i class="icon-question-sign" style="vertical-align: middle"></i>
                            </a>
                        </h2>

                        <div style="margin-bottom: 30px;">
                            <% if current_user.publish_selections? %>
                                <div style="margin-bottom: 15px;">
                                    <%
                                       share_url = selections_user_url(current_user)
                                       share_title = "I've made my selections for the final EuRuKo 2013 lineup! Have you?"
                                    %>
                                    <span class='st_twitter' st_via="euruko" displayText='Tweet' st_url='<%= share_url %>' st_title="<%= share_title %>"></span>
                                    <span class='st_googleplus' displayText='Google+' st_url='<%= share_url %>' st_title="<%= share_title %>"></span>
                                    <span class='st_facebook' displayText='Facebook' st_url='<%= share_url %>' st_title="<%= share_title %>"></span>
                                    <span class='st_sharethis' displayText='ShareThis' st_url='<%= share_url %>' st_title="<%= share_title %>"></span>
                                </div>

                                <div>
                                    <%= form_for current_user do |f| %>
                                        <%= hidden_field_tag :return_to, proposals_path %>
                                        <%= f.hidden_field :publish_selections, :value => 'false' %>
                                        <%= f.submit 'Make my selections private', :class => 'btn btn-mini' %>
                                    <% end %>
                                </div>
                            <% else %>
                                <%= form_for current_user do |f| %>
                                    <%= hidden_field_tag :return_to, proposals_path %>
                                    <%= f.hidden_field :publish_selections, :value => 'true' %>
                                    <%= f.submit 'Share my selection list!', :class => 'btn btn-success btn-small' %>
                                <% end %>
                            <% end %>
                        </div>

                        <ul class="selections">
                            <%= render :partial => 'proposal_listing', collection: @selected_proposals %>
                        </ul>
                    </div>
                </section>
            <% end %>
        </section>
    <% end %>

    <% if @leftout_proposals.present? %>
        <section class="row">
            <section class="<%= main_section_class %>">
                <h2>The following <%= @leftout_proposals.size %> didn't make it into the final list</h2>

                <ul class="proposals">
                    <%= render :partial => 'proposal_listing', collection: @leftout_proposals %>
                </ul>
            </section>
        </section>
    <% end %>
<% else %>
    <section>
        <h2>
            <%= @proposals.size %> Active proposals
            <%= link_to :format => :rss do %>
                <%= image_tag 'feed-icon-14x14.png' %>
            <% end %>
        </h2>

        <ul class="proposals">
            <%= render :partial => 'proposal_listing', collection: @proposals %>
        </ul>
    </section>
<% end %>

<% if @withdrawn_proposals.any? %>
<section>
  <h2>The following <%= @withdrawn_proposals.size %> proposals have been withdrawn:</h2>
  <ul class="proposals">
    <%= render :partial => 'proposal_listing', collection: @withdrawn_proposals %>
  </ul>
</section>
<% end %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, :format => :rss %>
<% end %>
