<div id="proposal" class="hero-unit">
    <%= proposal_div(@proposal) do %>
        <%= page_title @proposal.title, no_h1=true %>

        <h1>
            <% if can?(:see_proposer, Proposal) %>
                <em><strong><%= @proposal.proposer.name %>:</strong></em>
                <br>
                <%= @proposal.title %>
            <% else %>
                <%= @proposal.title %>
            <% end %>
        </h1>

        <p class="age muted">
            <% if can? :see_stats, @proposal %>
                Ranked <em><strong><%= @proposal.phase_one_ranking %></strong></em> with
                <%= @proposal.counted_impressions %> unique views,
                <%= @proposal.counted_votes_for %> counted upvotes and
                <%= @proposal.counted_votes_against %> counted downvotes
            <% else %>
                <%= proposal_update_information @proposal %>
            <% end %>

            &nbsp;
            <span class='st_twitter' st_via="euruko" displayText='Tweet'></span>
            <span class='st_googleplus' displayText='Google+'></span>
            <span class='st_facebook' displayText='Facebook'></span>
            <span class='st_sharethis' displayText='ShareThis'></span>
        </p>

        <% if @proposal.withdrawn? %>
            <h2 class="withdrawl_explanation">This proposal has been withdrawn...</h2>
        <% end %>
        <div class="description"><%= sanitize(markdown(@proposal.description)) %></div>

        <% if can? :edit, @proposal %>
            <small class="text-info">
                <em>Having second thoughts or a better idea?</em>
            </small>
            &nbsp;

            <%= link_to "Edit proposal", edit_proposal_path(@proposal), class: "btn btn-primary" %>
        <% end %>

        <%= change_proposal_state_button(@proposal) %>

        <% if can? :vote, @proposal %>
            <% if current_user.voted_on?(@proposal) %>
                <br>

                <small class="text-info">
                    <em>You have already voted <strong><%= current_user.voted_for?(@proposal) ? 'up' : 'down' %></strong> this proposal.</em>
                </small>

                <div class="btn-group">
                    <%= link_to 'Changed your mind?', '#', :class => 'btn btn-small dropdown-toggle', :data => {:toggle => 'dropdown'} %>
                    &nbsp;

                    <ul class="dropdown-menu">
                        <li>
                            <%= link_to vote_proposal_path(@proposal, :vote => 'up'), :method => :post do %>
                                <i class="icon-thumbs-up"></i> I would like to see this!
                            <% end %>
                        </li>

                        <li>
                            <%= link_to vote_proposal_path(@proposal, :vote => 'down'), :method => :post do %>
                                <i class="icon-thumbs-down"></i> Not really interested...
                            <% end %>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <%= link_to vote_proposal_path(@proposal, :vote => 'clear'), :method => :post do %>
                                Not sure yet (clear my vote)
                            <% end %>
                        </li>
                    </ul>
                </div>

            <% else %>
                <br>

                <small class="text-info">
                    <em>What do you think about this proposal?</em>
                </small>
                &nbsp;

                <%= link_to vote_proposal_path(@proposal, :vote => 'up'), :method => :post, :class => 'btn btn-success' do %>
                    <i class="icon-thumbs-up icon-white"></i> I would like to see this!
                <% end %>

                <%= link_to vote_proposal_path(@proposal, :vote => 'down'), :method => :post, :class => 'btn btn-inverse' do %>
                    <i class="icon-thumbs-down icon-white"></i> Not really interested...
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>

<div>
    <% if @previous_proposal -%>
        <%= link_to proposal_path(@previous_proposal), class: "btn btn-small", title: @previous_proposal.title, data: {toggle: 'tooltip'} do %>
            <i class="icon-chevron-left"></i>
            Previous
        <% end %>
    <% end %>

    <% if @next_proposal -%>
        <%= link_to proposal_path(@next_proposal), class: "btn btn-small pull-right", title: @next_proposal.title, data: {toggle: 'tooltip'} do %>
            Next
            <i class="icon-chevron-right"></i>
        <% end %>
    <% end %>
</div>
<br>

<%= render partial: 'proposals/suggestions' %>

<% content_for :head do %>
    <%= auto_discovery_link_tag :rss, :format => :rss %>
<% end %>
